# Sunucu
PORT=5000
BASE_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173

# Veritabanı
MONGO_URI=mongodb://127.0.0.1:27017/e-commerce

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# WhatsApp siparis linki
WHATSAPP_PHONE_NUMBER=905551112233

# iyzico (Sandbox - opsiyonel ödeme denemeleri için)
IYZICO_API_KEY=
IYZICO_SECRET_KEY=
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
